.heading{
    background: #26a69a;
    text-align: center;
    height: 100px;
    width: 100%;
    
}

.text-center{
    text-align: center;
}

.red {
    color: #ff0000;
    background-color: #fff !important;
}

.info-title{
    background-color: #26a69a;
    color: #fff;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;

}

.info-para{
    font-size: 15px;

}